<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css"/>
    <meta name="description" content="{{ .Site.Params.Description }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:description" content="{{ .Site.Params.Description }}" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ .Site.Title }}" />
    <meta name="twitter:description" content="{{ .Site.Params.Description }}" />
    <meta name="twitter:url" content="{{ .Site.BaseURL }}" />
  </head>
  <body class='w-100'>
    {{ block "main" . }}
    {{ end }}
    {{ block "footer" . }}
    {{ end }}
  </body>
</html>
