{{ define "main" }}
<main class='w-100 center'>
<section class='cf'>
  <div class='f1 w-100 dn-l ph5 avenir tc'>
    <h1 class='athelas f-headline-l f1 f-subheadline-m tracked-tight'>Postco<span class='dark-red'>g</span>nito</h1>
  </div>
  <div class='fl w-100 w-50-l ph2-l ph5'>
    <img alt='Illustration of a human brain.' src='/brain.svg'>
  </div>
  <div class='fl w-100 w-50-l ph2-l ph5 avenir'>
    <h1 class='athelas f-headline-l f1 f1-m tracked-tight dn-m'>Postco<span class='dark-red'>g</span>nito</h1>
    <h2 class='f3'>
      <a class='purple hover-near-black' href='https://commoncog.com'>Commoncog</a>
    </h2>
    <p class='f5 near-black measure'> Reading management system for knowledge workers. Stop forgetting what you read.</p>
    <h2 class='f3' >
      <a class='dark-pink hover-near-black' href='https://commoncog.com/blog/'>Commonplace</a>
    </h2>
    <p class='f5 near-black measure'> Blog about building career moats. Updates weekly. </p>
    <h2 class='f3'>
      <a class='red hover-near-black' href='https://managementforstartups.com'>Management For Startups</a>
    </h2>
    <p class='f5 near-black measure'>Learn to be a better manager, even when you don't have the time.</p>
    <p class='f4 mt5 light-silver i'>Augment human intelligence</p>
    <p class='f6 silver i'>Postcognito Pte Ltd. &middot; co reg no 201816525C</p>
  </div>
  </section>
</main>
{{ end }}
