{{ define "main" }}
<main class='w-100 center'>
<section class='cf'>
  <div class='f1 w-100 dn-ns ph5 avenir tc'>
    <h1 class='athelas f-headline-l f1 f-subheadline-m tracked-tight'>Postco<span class='dark-red'>g</span>nito</h1>
  </div>
  <div class='fl w-100 w-50-ns pa5-l pa3-m ph5'>
    <img class='' alt='Illustration of a human brain.' src='/postcognito.png'>
  </div>
  <div class='fl w-100 w-50-ns ph2-ns ph5 avenir mb3'>
    <h1 class='athelas f-headline-l f1 f1-m tracked-tight dn db-ns'>Postco<span class='dark-red'>g</span>nito</h1>
    <h2 class='f2'>Personal Data Protection Policy</h2>
    <div class='measure-wide lh-copy'>
    {{ .Content }}
  </div>
  <p class='bt pt3 b--silver'> <strong>Last Updated:</strong> {{ .Date.Format "2 Jan 2006" }}</p>
    <p class='f5 mt5 light-silver i'>Tools that augment human intelligence</p>
    <p class='f6 silver i'>Postcognito Pte Ltd. &middot; made in <span class='red'><strong>&bullet;</strong></span> Singapore &middot; co reg no 201816525C &middot; <a class='silver' href='/pdpa/'>pdpa</a></p>
  </div>
  </section>
</main>
{{ end }}

